# --- Postgres ---
POSTGRES_USER=testbed
POSTGRES_PASSWORD=testbed
POSTGRES_DB=testbed
POSTGRES_PORT=5433

# --- RabbitMQ ---
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672